body {
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(235, 230, 225);
}
img {
    height: 300px;
    margin: 10px;
    border: solid 2px #000;
    border-radius: 20px;
}
a {
    text-decoration: none;
    color: #000;
}