.parent-box1 {
    height: 200px;
    width: 50%;
    border: 1px solid black;
}
.content-box1 {
    height: auto;
    background-color: lightblue;
    padding: 10px;
}
.parent-box2 {
    max-height: 300px;
    width: 50%;
    border: 1px solid black;
}
.content-box2 {
    height: auto;
    background-color: lightcoral;
    padding: 10px;
}
.parent-box3 {
    display: flex;
    height: 200px;
    width: 50%;
    border: 1px solid black;
}
.content-box3 {
    flex: 1;
    background-color: lightgreen;
    padding: 10px;
}
