* {
    text-decoration: none;
}
body {
    margin: 0px 100px;
    background-color: #F6F4F1;
    color: #26201F;
    font-family: "Inconsolata", monospace, sans-serif;
}
.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap:  0px 30px;
}
.first-column { 
    grid-area: 1 / 1 / 2 / 2;
}
.second-column { 
    grid-area: 1 / 2 / 2 / 3;
    flex: 1;
}
.image-container {
    flex: 1;
}
.text-container{
    flex: 1;
}
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.grayscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
img {
    max-height: 750px;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%
}
.center {
    display: grid;
    justify-content: center;
    align-items: center;
}
h1 {
    object-fit: contain;
    font-size: 8vw;
    color: #C72A09;
    text-transform: uppercase;
    margin: 0;
}
h2 {
    font-size: 3vw;
    text-align: center;
}
p {
    font-size: 1.5vw;
}