.features-container {
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    
}
.card-container {
max-width: 200px;
}

