* {
    text-decoration: none;
}
body {
    margin: 0px 100px;
    background-color: #F6F4F1;
    color: #26201F;
    font-family: "Inconsolata", monospace, sans-serif;
}
.welcome-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.image-container { 
    height: max-content;
    grid-area: 1 / 1 / 3 / 2;
}
.image-container img {
    width: 100%;
    object-fit: fill;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.image-container img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.text-container { 
    grid-area: 1 / 2 / 2 / 3;
}
.text-container h1 {
    object-fit: contain;
    font-size: 8vw;
    color: #C72A09;
    padding-left: 40px;
    margin: 0;
}
.text-container p {
    font-size: 1.5vw;
    padding-left: 40px;
}
.button-container { 
    grid-area: 2 / 2 / 3 / 3;
    padding-top: 20px;
 }
.center {
    display: flex;
    justify-content: center;
    align-items: center;
 }
button {
    all: unset;
    width: 200px;
    height: 50px;
    background-color: #F6F4F1;
    color: #C72A09;
    font-weight: 700;
    border: solid #C72A09 2px;
    text-align: center;
    text-transform: uppercase;
}
button:hover {
    text-decoration: underline;
}